<div class="row well">
    <div class="col-xs-12">
        <h4>Весёлых занятий!</h4>
        <footer>
            <small>Возврат платежей. После оформления заказа и загрузки файлов деньги не возвращаются. Если вы решили отменить ваш заказ делайте это до загрузки файлов. По всем вопросам с загрузкой, платежами и другими проблемами пишите:  <a href="mailto:vikaraskinacom@gmail.com" target="_blank" rel="noopener noreferrer">ADMIN</a>
            </small>
            <hr style="border-top: 1px solid grey;" />
            <p>
                <small>Пособие предназначено для индивидуального использования. Для коммерческого использования (в группах, яслях и т.д.) обратитесь к нам для приобретения лицензии. Использование без лицензии является нарушением авторских прав и будет преследоваться по закону. Все вопросы:  <a href="mailto:vikaraskinacom@gmail.com" target="_blank" rel="noopener noreferrer">ADMIN</a><br>All rights reserved. No commercial use without license from Vikaraskina Inc. No part of this product may be reproduced in any form without permission of the owner. For individual use only. All inquiries  <a href="mailto:vikaraskinacom@gmail.com" target="_blank" rel="noopener noreferrer">ADMIN</a>
                </small>
            </p>
        </footer>
    </div>
</div>

