<h5 class="bg-darkcyan text-loose2">{insert}</h5>
<ul class="ul-group">
    <li class="li-group-item li-item-darkcyan li-spread">{insert}</li>
    <li class="li-group-item li-item-darkcyan li-spread">{insert}</li>
    <li class="li-group-item li-item-darkcyan li-spread">{insert}</li>
</ul>

<!-- without spaces -->
<h5 class="bg-darkcyan text-loose1">{insert}</h5>
<ul class="ul-group">
    <li class="li-group-item li-item-darkcyan">{insert}</li>
    <li class="li-group-item li-item-darkcyan">{insert}</li>
    <li class="li-group-item li-item-darkcyan">{insert}</li>
</ul>