<div class="frame">
    <div class="box">
        <div class="text-box-container">
            <div class="text-box slide-in-right">
                <span class="text-in">С Новым Годом!</span>
            </div>
        </div>
      <div class="container">
        <div class="cloud"></div>
        <div class="rain">
          <span class="snowball" style="--seconds: 11"></span>
          <span class="snowball" style="--seconds: 12"></span>
          <span class="snowball" style="--seconds: 10"></span>
          <span class="snowball" style="--seconds: 14"></span>
          <span class="snowball" style="--seconds: 18"></span>
          <span class="snowball" style="--seconds: 16"></span>
          <span class="snowball" style="--seconds: 19"></span>
          <span class="snowball" style="--seconds: 20"></span>
          <span class="snowball" style="--seconds: 19"></span>
          <span class="snowball" style="--seconds: 10"></span>
          <span class="snowball" style="--seconds: 16"></span>
          <span class="snowball" style="--seconds: 14"></span>
          <span class="snowball" style="--seconds: 18"></span>
          <span class="snowball" style="--seconds: 11"></span>
          <span class="snowball" style="--seconds: 13"></span>
          <span class="snowball" style="--seconds: 15"></span>
          <span class="snowball" style="--seconds: 12"></span>
          <span class="snowball" style="--seconds: 17"></span>
          <span class="snowball" style="--seconds: 13"></span>
          <span class="snowball" style="--seconds: 15"></span>
        </div>
      </div>
      <div class="container-tree">
        <div class="tree">
          <div class="tree-triangle1"></div>
          <div class="tree-triangle2"></div>
          <div class="tree-triangle3"></div>
          <div class="ornament or1">
            <div class="shine"></div>
          </div>
          <div class="ornament or2">
            <div class="shine"></div>
          </div>
          <div class="ornament or3">
            <div class="shine"></div>
          </div>
          <div class="ornament or4">
            <div class="shine"></div>
          </div>
          <div class="ornament or5">
            <div class="shine"></div>
          </div>
          <div class="ornament or6">
            <div class="shine"></div>
          </div>
          <div class="trunk"></div>
          <div class="star-light"></div>
          <div class="star"></div>
          <div class="star-highlight"></div>
        </div>
      </div>
    </div>
  </div>