.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.box {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background: #7300ffaa;
    position: relative;
} 
.container {
    position: relative;
    height: 400px;
    width: 320px;
    border-bottom: 3px solid #fff;
  }
.cloud {
    position: relative;
    height: 7rem;
    width: 100%;
    top: 50px;
    background: darkgray;
    border-radius: 100px;
}
.cloud:before {
    content: "";
    position: absolute;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background: darkgray;
    top: -50px;
    left: 40px;
    box-shadow: 5rem 0 0 1.8rem darkgray;
}
.rain {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 100;
}
  .snowball {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    margin: 0 2px;
    animation: rain 5s linear infinite;
    transform-origin: bottom;
    animation-duration: calc(15s / var(--seconds));
    z-index: 100;
}

@keyframes rain {
    0% {
      transform: translateY(0) scale(1);
    }
    70% {
      transform: translateY(288px) scale(1);
    }
    100% {
      transform: translateY(288px) scale(0);
    }
}
  /* tree */
  .container-tree {
    position: absolute;
    width: 250px;
    height: 250px;
    z-index: 20;
    bottom: 50px;
    left: 50%;
    transform: translate(-70%, 0);
}  
  .tree {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 13%;
    top: 5%;
}
 
.tree-triangle3 {
    position: absolute;
    width: 66%;
    height: 36%;
    bottom: 20%;
    left: 3.5%;
    background: #034f33;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.tree-triangle2 {
    position: absolute;
    width: 53%;
    height: 33%;
    bottom: 35%;
    left: 10%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #046944;
    z-index: 22;
} 
.tree-triangle1 {
    position: absolute;
    width: 42%;
    height: 25%;
    bottom: 50%;
    left: 15.5%;
    background: #038052;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    z-index: 23;
}
.trunk {
    position: absolute;
    width: 10%;
    height: 16%;
    background: #66503e;
    z-index: 21;
    bottom: 5%;
    left: 32%;
}
.ornament {
    position: absolute;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    box-shadow: 0 0 3px #033b26;
    z-index: 24;
}
.shine {
    position: absolute;
    width: 55%;
    height: 55%;
    top: 10%;
    right: 11%;
    border-radius: 50%;
    background: white;
    filter: opacity(60%);
} 
.or1 {
    left: 28%;
    top: 34%;
    background: #0742d9;
}  
.or2 {
    left: 40%;
    top: 45%;
    background: #c91212;
} 
.or3 {
    left: 20%;
    top: 49%;
    background: #dbb700;
}
.or4 {
    left: 34%;
    top: 62%;
    background: #0742d9;
}
.or5 {
    left: 50%;
    top: 69%;
    background: #dbb700;
}
.or6 {
    left: 15%;
    top: 68%;
    background: #c91212;
}
.star {
    position: absolute;
    width: 20%;
    height: 20%;
    background: #ffe380;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
    left: 26.5%;
    top: 11%;
    z-index: 4;
}
.star-highlight {
    position: absolute;
    width: 20%;
    height: 20%;
    background: #fff1bf;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      50% 70%,
      50% 60%,
      50% 46%,
      50% 36%
    );
    left: 26.5%;
    top: 11%;
    z-index: 24;
}
.star-light {
    position: absolute;
    width: 20%;
    height: 20%;
    background: #fff1bf;
    filter: opacity(0.7);
    border-radius: 50%;
    left: 26.5%;
    top: 11%;
    z-index: 23;
    animation: star 3s ease-in-out infinite;
}
@keyframes star {
    100% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1.1);
    }
    0% {
      transform: scale(0.5);
    }
}
  /* text  */
.text-box-container {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    z-index: 100;
}
.text-box {
    color: gold;
    background-color: transparent;
}
.slide-in-right {
	animation: slide-in-right 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}
.text-in {
    animation: text-sliding 4s infinite both;
}
@keyframes slide-in-right {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes text-sliding {
    0% {
        font-weight: 500;
        font-size: 1rem;
        line-height: 5rem;
        background-color: transparent;
        color: gold;
        opacity: 0;
    }
    50%{
        font-weight: 700;
        font-size: 3rem;
        line-height: 7rem;
        background-color: transparent;
        color: gold;
    }
    100%{
        font-weight: 900;
        font-size: 3.5rem;
        background-color: #7300ffaa;
        color: aliceblue;
        line-height: 14rem;
    }
}
@keyframes text-sliding-mobile {
    0% {
        font-weight: 500;
        font-size: .5rem;
        line-height: .5rem;
        background-color: transparent;
        color: gold;
        opacity: 0;
    }
    50%{
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.2rem;
        background-color: transparent;
        color: aliceblue;
    }
    100%{
        font-weight: 900;
        font-size: 1.6rem;
        background-color: #7300ffaa;
        color: aliceblue;
        text-align: center;
        line-height: 1.6rem;
    }
}

@media screen and (max-width: 900px) {
    .text-in {
        animation: text-sliding-mobile 3s infinite both;
        font-size: .5rem;
    }
}
  