<div class="row">
    <div class="col-xs-12 col-sm-6 accent-col-1 sec-col">
        <h4 style="color: red;text-align: center;padding: 20px;">"Узнаём окружающий мир." </h4>
        <strong>Это учебное пособие специально разработано, учитывая особенности обучения билингвов.</strong>
        <p>Тетради «Узнаём окружающий мир. Развитие речи» составлены так, чтобы дети, выполняя практические задания, знакомились с окружающим миром, узнавали новые слова и понятия.</p>
        <p style="color: red; text-align:center;">Все тетради вышли</p>
        <div class="hidden-xs hidden-sm">
            [products limit=4 columns=4 tag="steps-mir"]
        </div>
        <div class="hidden-md hidden-lg">
            [products columns=1 ids="78071"]
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 accent-col-2 sec-col">
        <h4 style="text-align:center;color:red;padding: 20px;">Вышла в свет новая книга</h4>
        <h5>Экскурсия-квест по Нью Йорку.</h5>
        <h5 style="text-align: center;"><strong>Около 100 страниц с рисунками, фотографиями и вопросами.</strong></h5>
        <p style="font-size: 120%;word-break: break-all;hyphens: auto;">Трое детей 5, 11 и 16 лет ходят по Нью Йорку. Младшие - первый раз в США. Старшая сестра рассказывает историю города, показывает достопримечательности, интересные детям. Во время экскурсий ребята обсуждают увиденное, делятся впечатлениями, сравнивают
            новое с тем, что они знают.</p>
        <div class="main-product-cont" style="display: flex;align-items: center;justify-content: center;padding-top: 20px;">
            [products columns="1" ids="63745" class="accent-2-product"]
        </div>
    </div>
</div>