<div class="row">
    <div class="col-sm-12 col-md-6 accent-col-2 sec-col">
        <h2 style="text-align: center; ">Заключительный учебник из серии "Я учусь читать - 9"</h2>
        <p style="font-size: 110%;">
            В тетради продолжается рассказ о приключеиях Туси и её друзей. Рассказы о себе и индивидуальное обращение нравятся многим детям. Метод «присоединения и причастности» работает очень хорошо, сотни детей полюбили читать, общаясь со своими сверстниками Тусей
            и Даником.
        </p>
        <h5 style="">Это 12 тетрадь серии.</h5>
        <div class="main-product-cont" style="display: flex;align-items: center;justify-content: center;padding-top: 50px;">
            [products columns="1" ids="58868" class="accent-2-product"]
        </div>
    </div>
    <div class="col-sm-12 col-md-6 accent-col-1 sec-col">
        <h2 style="text-align: center;">Впервые на нашем сайте! Красочная книга-загадка.</h2>
        <p><strong>Это замечательнвй подарок для тех, кто учится читать и для тех кто только умеет рассматривать
        картинки.</strong></p>
        <h5> Книжка «В доме в углу пианино стояло» это книжка с загадкой и очень счастливой отгадкой. Подарите минуты радости себе и своему ребенку.</h5>
        <div style="display: flex;align-items: center;justify-content: center;">
            [products columns="1" ids="69259"]
        </div>
    </div>
</div>