<div class="row accent-row-3">
    <div class="col-sm-12 col-md-6">
        <h3 style="text-align:center;color:blue;">Новый Адвент-календарь <br>на 2024-2025 год! </h3>
        <h5 style="color: blue;text-align:center;">Распродажа заканчивается 30 ноября!</h5>
        <p style="text-align: center;font-size: 140%;"><span style="color:red;text-decoration:line-through darkred;font-weight: bold;background-color: white;padding: 5px;border: red 2px solid;border-radius: 5px;margin-right: 2px;">$29.95 </span> <span style="background-color: blue;font-size: 140%;" class="badge"> $19.95</span> <span style="font-size: 120%;"> <strong>Скидка около 33%!</strong></span></p>
        <h5 style="color: red;text-align: center;"><strong>114 страниц с заданиями!</strong></h5>
        <p>Каждый день ваш ребёнок будет получать 2 задания от нашего Мишки, после выполнения заданий, ребёнок сможет наклеить снежинку и подсчитать, сколько дней осталось до Нового Года!</p>
        <p style="font-size: 120%;">Первые 50 покупателей получат <b>бесплатно</b> <a href="/product/calendar-prirody/">"Календарь природы".</a> </p>     
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="visible-md-block visible-lg-block col-md-12" style="text-align: center;">
                [products ids="11186" columns="1" class="accent-2-product"]
        </div>
        <div class="visible-sm-block col-sm-12" style="text-align: center;">
            [products ids="11186" columns="1" class="accent-2-product"]
        </div>
        <div class="visible-xs-block col-xs-12" style="text-align: center;">
            [products ids="11186" columns="1"]
        </div>
    </div>
</div>