<div class="row accent-row-3">
    <h2 class="bg-darkbl text-loose center-block text-center">
        Для самых маленьких
    </h2>
    <div class="col-xs-12">
        <h4 class="text-center text-loose2">Посмотрите пособия для занятий с детьми от 1 до 3 лет</h5>
    </div>
    <div class="container-text">
        <div class="content-text">
            <h5 class="center-block text-center fading-text2-3">
                Рабочие тетради "Развиваем малышей"
            </h5>
        </div>
    </div>
    <div class="visible-md-block visible-lg-block">
        <div class="col-md-12">
            [products columns="4" tag="tag-malyshi" class="five-in-row"]
        </div>
    </div>
    <div class="visible-sm-block">
        <div class="col-sm-12">
            [products columns="4" tag="tag-malyshi" class="five-in-row"]
        </div>
    </div>
    <div class="visible-xs-block">
        <div class="col-xs-12">
            [products columns="1" limit="8" tag="tag-malyshi"]
        </div>
    </div>
    <div class="container-text">
        <div class="content-text">
            <h5 class="center-block text-center fading-text2-3">
                Серия "Рабочие тетради"
            </h5>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="visible-md-block visible-lg-block visible-sm-block">
            <div class="col-md-12">
                [products columns="4" tag="tag1-2, tag2-3"]
            </div>
        </div>
        <div class="visible-xs-block">
            <div class="col-xs-12">
                [products columns="1" limit="4" ids="16756,16750,16381,16363"]
            </div>
        </div>
    </div>
    <div class="empty2"></div>
    <div class="col-xs-12">
        <h5 class="bg-darkcyan text-center text-loose2">Посмотрите программу "Малышок" для детей 2-4 лет</h5>
        <div class="loader-container">
            <div class="loader-content">
                <div class="loader-circle">
                    <div class="outer"></div>
                    <div class="middle"></div>
                    <div class="inner"></div>
                    <div class="dot"></div>
                </div>
            </div>
            <div class="strelka-content">
                <div class="down-arrow-changing">
                    <span class="text-down-arrow-md text-down-arrow">пакеты</span>
                </div>
            </div>
        </div>
        <div class="empty3"></div>
    </div>
    <div class="visible-md-block visible-lg-block col-md-12">
        [products tag="playteach" columns="3" orderby="id"]
    </div>
    <div class="visible-sm-block col-sm-12">
        [products tag="playteach" columns="3" orderby="id"]
    </div>
    <div class="col-xs-12 visible-xs-block">
        [products tag="playteach" columns="1" orderby="id"]
    </div>
    <div class="col-xs-12">
        <h5 class="text-loose1 bg-darkbl">Программа “Малышок” разработана специально для групповых занятий индивидуальных преподавателей, детских центров и садов. В программе 36 уроков, по числу учебных недель в США. Программа тестировалась в штате Нью-Джерси, США.</h5>
    </div>
</div>