<div class="row accent-row-2">
    <h4 style="text-align: center;padding: 20px 40px;color: blue;">Новые тетрадки для младших школьников от Валерии Ивлевой
    </h4>
    <div class="visible-md-block visible-lg-block col-md-12">
        [products limit=4 tag="ivleva-front"]
    </div>
    <div class="visible-sm-block col-sm-12">
        [products limit=2 columns=2 category="distant-school-iv"]
    </div>
    <div class="visible-xs-block col-xs-12">
        [products limit=1 columns=1 ids="89001"]
    </div>
</div>