<div class="row">
    <div class="col-sm-12 col-md-6 accent-col-2 tet-col">
        <h2 style="text-align:center;" id="kurs-timer"></h2>  
        [products columns="1" ids="42261" class="accent-1-product"]     
        <h5> Ваш ребёнок: </h5>
        <ul style="list-style-type: square;">
            <li>Разговаривает, но плохо?</li>
            <li>Путает падежные окончания?</li>
            <li>Неправильно произносит звуки?</li>
            <li>Ошибается, используя числительные?</li>
            <li>Не умеет пересказывать?</li>
            <li>Все говорит в женском роде (или в мужском)?</li>
            <li>Не умеет отвечать на вопросы по текстам?</li>
            <li>Делает много грамматических ошибок в разговоре?</li>
            <li>У него плохо увеличивается словарный запас?</li>
            <li>Ему сложно рассказывать на заданную тему?</li>
        </ul>
        <strong>Тогда вам сюда!<br> Открыта запись на курс «Я говорю красиво».</strong>
        <p>Видеокурс «Я говорю красиво» создан для родителей, нянь, бабушек, дедушек, воспитателей и логопедов, воспитывающих и обучающих детей, которые делают ошибки в речи. Курс поможет вам узнать, как научить ребенка говорить чисто и красиво.</p>
    </div>  
    <div class="col-sm-12 col-md-6 accent-col-3 tet-col">
        <h3 style="text-align:center;color:red;">Завершена работа над новым курсом!</h3>
        <h5>Курс состоит из 8 уроков:</h5>
        <ol style="padding-left: 20px;">
            <li>Зарождение жизни.</li>
            <li>Пещерные люди.</li>
            <li>Цивилизация шумер.</li>
            <li>Древний Египет.</li>
            <li>Античная Греция.</li>
            <li>Римская империя.</li>
            <li>Средневековье.</li>
            <li>Новое время.</li>
        </ol>
        <p>Это уроки с заданиями и тематическими поделками. <br>Уроки проходили в нескольких группах онлайн через зум. Родители говорили, что дети в восторге. </p>
        <p>утешествие сквозь время – видеокурс для любознательных детей. Мы записали его, чтобы заинтересовать историческими процессами, дать знания о них, начать учить сравнивать и анализировать. Это не просто видео, это – полноценные уроки с информацией по теме, с заданиями, с вопросами, поделками.</p>
        <p>Уроки в записи очень удобны. Можно смотреть в свободной время, останавливать видео по необходимости, пересматривать понравившиеся куски.</p>
        [products columns="1" ids="67801" class="accent-1-product"]
    </div>
</div>