<div class="row accent-row-1">
    <h2 style="color: red;text-align: center;">Новый экспресс-видеокурс для родителей и учителей</h2>
    <div class="col-xs-12 col-sm-6">
        <p><strong>Это не видеоуроки для детей, это видео-лекции для родителей, которые помогут начать обучать чтению и помочь детям полюбить читать.</strong></p>
        <p>Видеокурс “Обучаем чтению” создан для родителей, нянь, бабушек, дедушек, воспитателей и логопедов, воспитывающих и обучающих детей-билингвов</p>
        <h5>Внимание! Курс начнётся 14 декабря. </h5>
        <h4>Специальная цена только до 15 ноября.</h4>
        <h5>Количество мест ограничено.</h5>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div style="display: flex;align-items: center;justify-content: center;">
            [products columns="1" ids="69292"]
        </div>
    </div>
  </div>