<div class="row accent-row-1">
  <h2 class="bg-darkbl text-loose text-center">Новые тетради для детей 5-9 лет "Письменные практики"</h2>
    <div class="col-xs-12">
        <h4 class="bg-darkcyan text-loose1">
            Набор тетрадей “Письменные практики” написан для детей, которые уже умеют читать. По тетрадям можно заниматься после первой ступени "Я учусь читать" или после любого букваря.
        </h4>
        <div class="visible-small-block visible-md-block visible-lg-block col-md-12">
            [products columns="4" tag="tag-pisprakt-ind" orderby="id"]
        </div>
        <div class="visible-xs-block col-xs-12">
            [products columns=1 tag="tag-pisprakt-ind" orderby="id"]
        </div>
    </div>
</div>