<div class="row accent-row-3">
    <div class="col-xs-12 col-sm-6">
        <h3 style="text-align:center;color:darkgreen;background-color:whitesmoke;border: 2px darkgreen solid; border-radius: 5px;">Друзья! Мы завершили работу над последней ступенью серии "Я учусь читать"! </h3>
        <h5 style="text-align: center;"><strong>Чтобы отпраздновать это событие, мы объявляем распродажу. Первые <span style="color: darkgreen;">100 </span>счастливчиков могут купить книги 3 ступени за <span style="color: red;">16$</span>!
        </strong></h5>
        <h5 style="color: darkgreen;">Распродажа заканчивается 6 марта или пока есть в наличии!</h5>
        <p style="text-align: center;font-size: 140%;"><span style="color:red;text-decoration:line-through darkred;font-weight: bold;background-color: white;padding: 5px;border: red 2px solid;border-radius: 5px;margin-right: 2px;">$24.50 </span> <span style="background-color: darkgreen;font-size: 140%;" class="badge"> $16</span> <span style="font-size: 120%;"><strong>Скидка 35%!</strong></span></p>
        <h4 style="color: red;text-align: center;"><strong>136 страниц с заданиями!</strong></h4>
        <p style="font-size: 130%;">Посмотрите подробное описание и образцы заданий на странице рабочей тетради "Я учусь читать - ступень 3".</p>  
    </div>
    <div class="col-xs-12 col-sm-6">    
        <div class="main-product-cont" style="display: flex;align-items: center;justify-content: center;padding-top: 20px;margin-bottom: -20px;">
        [products columns="1" ids="73728" class="accent-2-product"]
        </div>
        <h4 style="text-align:center;color:darkgreen;background-color:whitesmoke;border: 2px darkgreen solid; border-radius: 5px;">Самая низкая цена! </h4>
    </div>
</div>