<div class="row accent-row-1">
    <div class="col-md-4 col-sm-12">
        <div class="row ">
            <div class="col-md-12">
                [products columns="1" category="current-course"]
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="row">
            <div class="col-md-12">
                [products columns="1" limit="2" category="rassylka"]
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="row">
            <div class="col-md-12">
                [products columns="1" limit="2" tag="uroki-display"]
            </div>
        </div>
    </div>
</div>