<div class="row accent-row-2">
    <h2 style="color: red;text-align: center;">
        Онлайн школа для родителей
    </h2>
    <div class="col-sm-12 col-md-6">
        <h4 style="color: blue;text-align: center;">Расписание на осень и зиму</h4>
        <table style="font-size: 120%;" class="table table-hover table-bordered">
            <tr>
                <th>Название курса</th>
                <th>Дата начала</th>
            </tr>
            <tr>
                <td><a href="/course/razgov-nov2023/">Как разговорить малыша</a></td>
                <td>1 ноября</td>
            </tr>
            <tr>
                <td><a href="/course/bil-dec-2023/">Билингвизм - теория и практика</a></td>
                <td>1 декабря</td>
            </tr>
            <tr>
                <td><a href="/course/yagovoryu-jan2024//">Я говорю правильно!</a></td>
                <td> 1 января</td>
            </tr>
            <tr>
                <td><a href="/course/chitat-jan2024/">Учим читать билингвов</a></td>
                <td>15 января</td>
            </tr> 
        </table>
    </div>
    <div class="col-sm-12 col-md-6 flex-centered">
        <h5 style="margin-top: 20px;">Приглашаем в нашу школу родителей детей билингвов и учителей. Мы обсудим вопросы развития речи, обучения чтению, правильному использованию окончаний у детей от года до 8 лет. Вы получите ответ на вопрос: "Как сохранить русский язык?"</h5>

    </div>
    <div class="visible-md-block visible-lg-block col-md-12">
        [products tag="4kursa"]
    </div>
    <div class="visible-sm-block col-sm-12">
        [products columns=2 tag="4kursa"]
    </div>
    <div class="visible-xs-block col-xs-12">
        [products columns=1 tag="4kursa"]
    </div>
</div>