<div class="row accent-row-3">
    <div class="col-sm-12 col-md-6">
        <h4 style="color: red;text-align: center;padding: 20px;">Новая серия "Развиваем логику и речь" уже в продаже.</h4>
        <div class="hidden-xs hidden-sm">
            [products columns=3 tag="master-logic"]
        </div>
        <div class="hidden-md hidden-lg">
            [products columns="1" limit="2" tag="master-logic"]
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <h4>Это учебное пособие специально разработано, учитывая особенности обучения билингвов.</h4>
        <h5> Пять новых тетрадей для развития речи билингва! </h5>
        <h4 style="text-align: center;color: brown;font-weight: bolder;">370 рабочих листов, игры и аппликации.</h4>
        <ol>
                <li><a href="product/logic-novice/"><b>Новичок</b></a></li>
                <li><a href="product/logic-uchenik/"><b>Ученик</b></a></li>
                <li><a href="product/logic-podmaster/"><b>Подмастерье</b></a></li>
                <li><a href="product/logic-master/"><b>Мастер</b></a></li>
                <li><a href="product/logic-expert/"><b>Эксперт</b></a></li>
        </ol>
        <strong>Идея этой серии одновременно решать логические задачи и развивать речь. Мы будем решать ребусы и шарады, составлять логические цепочки и сразу обращать внимание на женский, средний и мужской род, сочетать предметы и узнавать новые слова, искать отличия.</strong>
        <p>Игра-бродилка вместе с тетрадью "Эксперт".</p>
    </div>
</div>