<div class="row accent-row-2">
    <h2 style="text-align: center;">Играем с Викой и Квакушкой. <br>Видео уроки с логопедом для детей от 1 года до 3 лет.
    </h2>
    <div class="col-xs-12 col-sm-6">
        <h5>Курс состоит из 20 уроков:</h5>
        <h5>Некоторые темы уроков:</h5>
        <ol style="padding-left: 10px;">
            <li>Овощи</li>
            <li>Фрукты</li>
            <li>Цвета</li>
            <li>Формы </li>
            <li>День рождения</li>
            <li>Транспорт (машины)</li>
            <li> Одежда </li>
        </ol>
        <p>Во время занятий мы рассказываем сказку Теремок, готовим «обед», празднуем день рождения, лепим, раскрашиваем, играем в разные игры.</p>
        <p>На занятиях я читаю стихи, даю разнообразные упражнения на развитие дыхания и мелкой моторики, пальчиковые игры.
        </p>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div style="display: flex;align-items: center;justify-content: center;">
            [products columns="1" ids="64433" class="accent-2-product"]
        </div>
    </div>
</div>