<div class="row accent-row-2">
    <h4 style="text-align: center;color:blue;">Выпущены комплекты уроков для разновозрастных детей со скидкой</h4>
    <div class="visible-md-block visible-lg-block col-md-12">
        [products limit=4 columns=2 category="video-kids-sets"]
    </div>
    <div class="visible-sm-block col-sm-12">
        [products limit=2 columns=2 category="video-kids-sets"]
    </div>
    <div class="visible-xs-block col-xs-12">
        [products limit=1 columns=1 category="video-kids-sets"]
    </div>
</div>