<div class="row">
    <div class="col-sm-12 col-md-3 knopki">
        <a href="/age-0-2" class="odinrec knopki-pos" role="button">
            <h5 class="text-rec">Рекомендации<br> от 0 до 2 лет</h5>
        </a>
    </div>
    <div class="col-sm-12 col-md-3 knopki">
        <a href="/age-2-4" class="dvarec knopki-pos" role="button">
            <h5 class="text-rec">Рекомендации<br> от 2 до 4 лет</h5>
        </a>
    </div>
    <div class="col-sm-12 col-md-3 knopki">
        <a href="/age-4-7" class="chetyrerec knopki-pos" role="button">
            <h5 class="text-rec">Рекомендации<br> от 4 до 7 лет</h5>
        </a>
    </div>
    <div class="col-sm-12 col-md-3 knopki">
        <a href="/age-7plus" class="semrec knopki-pos" role="button">
            <h5 class="text-rec">Рекомендации<br> 7+ лет</h5>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 knopki">
        <a href="/calc-bundle" class="bundlerec knopki-pos1" role="button">
            <h5 class="text-rec">Составить индивидуальный пакет программ</h5>
        </a>
    </div>
</div>