<div class="row accent-row-1">
    <h2 class="bg-brown text-center center-block text-loose">Программа развития</h2>
    <div class="col-xs-12">
        <p style="padding: 20px; font-size:120%; font-weight:bold;">Программа развития — это набор заданий для детей от 6 месяцев до 6 лет.</p>
        <p style="padding: 20px; font-size:120%; font-weight:bolder;">Задания игровые, подобраны в соответствии с возрастом ребёнка, чтобы ничего не упустить в его развитии. Программа написана на основе авторской методики, куда включены элементы игровой логопедии, сенсорной интеграции и развития мозга по технологиям ТРИЗ. Вы получите множество игр, которые помогут развивать речь, логическое мышление, воображение, память, творческие и математические способности вашего ребёнка. Играя, ребенок лучше познакомится с окружающим миром, полюбит учиться и узнавать новое.</p>
        <p style="padding: 20px; font-size:120%; font-weight:bolder;">Каждую неделю на ваш электронный адрес будут приходить 6 (или 3) заданий на разные темы, развивающие определённые навыки ребёнка.
            Бери и делай. Легко и просто. Выберите возраст, посмотрите более подробное описание, подпишитесь и получите первые бесплатные задания.
            Программа разработана на основе моей многолетней работы с детьми-билингвами. Она стала лауреатом на конкурсе в Москве в 2018 году и была названа лучшей авторской программой для дошкольников.</p>
    </div>
</div>
<div class="row flex-horizontal-even">
    <div class="card-container">
        <div class="card-expandable" id="card-exp1">
            <div class="card-expandable-content">
                <div class="card-expandable-contentBx">
                    <h2>программа развития<br><span>для детей 6-12 месяцев</span></h2>
                    <div class="card-expandable-contentImg"></div>
                </div>
            </div>
            <div class="card-exp-toggle-btn" id="card-btn1">
                <span ></span>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card-expandable" id="card-exp2">
            <div class="card-expandable-content">
                <div class="card-expandable-contentBx">
                    <h2>программа развития<br><span>для детей 1-2 года</span></h2>
                    <div class="card-expandable-contentImg"></div>
                </div>
            </div>
            <div class="card-exp-toggle-btn" id="card-btn2">
                <span ></span>
            </div>
        </div>
    </div>      
    <div class="card-container">
        <div class="card-expandable" id="card-exp3">
            <div class="card-expandable-content">
                <div class="card-expandable-contentBx">
                    <h2>программа развития<br><span>для детей 2-3 года</span></h2>
                    <div class="card-expandable-contentImg"></div>
                </div>
            </div>
            <div class="card-exp-toggle-btn" id="card-btn3">
                <span ></span>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card-expandable" id="card-exp4">
            <div class="card-expandable-content">
                <div class="card-expandable-contentBx">
                    <h2>программа развития<br><span>для детей 3-4 года</span></h2>
                    <div class="card-expandable-contentImg"></div>
                </div>
            </div>
            <div class="card-exp-toggle-btn" id="card-btn4">
                <span ></span>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card-expandable" id="card-exp5">
            <div class="card-expandable-content">
                <div class="card-expandable-contentBx">
                    <h2>программа развития<br><span>для детей 4-6 лет</span></h2>
                    <div class="card-expandable-contentImg"></div>
                </div>
            </div>
            <div class="card-exp-toggle-btn" id="card-btn5">
                <span ></span>
            </div>
        </div>
    </div>
</div>
<div class="row container-flex-programmy">
    <div class="content-circles-around">
        <div class="loader-circles-around">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="content-split-btn">
        <div class="loader-split-btn">
            <div class="top-half-split-btn">программы развития</div>
            <div class="bottom-half-split-btn">программы развития</div>
        </div>
    </div>
</div>