<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-0-2" class="odinrec knopki-pos" role="button">
            <span class="text-rec">Тетради <br> от 1 до 2 лет</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-2-4" class="dvarec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> от 2 до 3 лет</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-4-7" class="chetyrerec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> от 3 до 4 лет</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-7plus" class="semrec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> от 4 до 6 лет</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-2-4" class="dvarec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> 9+ лет</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-4-7" class="chetyrerec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> по математике</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-7plus" class="semrec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> по логике</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-0-2" class="odinrec knopki-pos" role="button">
            <span class="text-rec">Тетради <br> от 6 до 8 лет</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-4-7" class="chetyrerec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> для раскрашивания</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-7plus" class="semrec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> для запуска речи</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-4-7" class="odinrec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> для чтения</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-7plus" class="dvarec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> об окружающем мире</span>
        </a>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-7plus" class="semrec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> для запуска речи</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-4-7" class="odinrec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> по русскому языку</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-7plus" class="dvarec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> на другие темы</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-4-7" class="chetyrerec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> для раскрашивания</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-4-7" class="odinrec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> по русскому языку</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-7plus" class="dvarec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> на другие темы</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-4-7" class="chetyrerec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> для раскрашивания</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 knopki">
        <a href="/age-7plus" class="semrec knopki-pos" role="button">
            <span class="text-rec">Тетради<br> для запуска речи</span>
        </a>
    </div>
</div>