<div class="col-xs-12">
    <h4 class="bg-brown text-loose1 text-center center-block" style="width: fit-content;">Игры для развития языка</h4>
</div>
<div class="col-xs-12">
    <div class="container-arrow">
        <div class="content-arrow">
        <div class="down-arrow arrow-color-brown">
            <span class="text-down-arrow-md text-down-arrow vertical-text-arrow">ИГРЫ</span>
        </div>
        </div>
    </div>
</div>
<div class="visible-md-block visible-lg-block">
    <div class="col-md-12">
        [products columns="5"  tag="tag-igry-magazin"]
    </div>
</div>
<div class="visible-sm-block">
    <div class="col-sm-12">
        [products columns="4" limit="12" tag="tag-igry-magazin"]
    </div>
</div>
<div class="visible-xs-block">
    <div class="col-xs-12">
        [products columns="1" limit="4" tag="tag-igry-magazin"]
    </div>
</div>