
<div class="row accent-row-2">
  <h2 style="color: red;text-align: center;">
      Онлайн школа для родителей
  </h2>
  <div class="col-sm-12 col-md-6">
        <h4 style="color: blue;text-align: center;">Расписание на осень и зиму</h4>
        <table style="font-size: 120%;" class="table table-hover table-bordered">
            <tr>
                <th>Название курса</th>
                <th>Дата начала</th>
            </tr>
            <tr>
                <td><a href="/course/razgov-nov2023/">Как разговорить малыша</a></td>
                <td>1 ноября</td>
            </tr>
            <tr>
                <td><a href="/course/bil-dec-2023/">Билингвизм - теория и практика</a></td>
                <td>1 декабря</td>
            </tr>
<tr>
                <td><a href="/course/yagovoryu-jan2024//">Я говорю правильно!</a></td>
                <td> 1 января</td>
            </tr>
            <tr>
                <td><a href="/course/chitat-jan2024/">Учим читать билингвов</a></td>
                <td>15 января</td>
            </tr> 
        </table>
    </div>
  <div class="col-sm-12 col-md-6 flex-centered">
      <h5 style="margin-top: 20px;">Приглашаем в нашу школу родителей детей билингвов и учителей. Мы обсудим вопросы развития речи, обучения чтению, правильному использованию окончаний у детей от года до 8 лет. Вы получите ответ на вопрос: "Как сохранить русский язык?"</h5>

  </div>
  <div class="visible-md-block visible-lg-block col-md-12">
      [products tag="4kursa" columns="4"]
  </div>
  <div class="visible-sm-block col-sm-12">
      [products columns=2 tag="4kursa"]
  </div>
  <div class="visible-xs-block col-xs-12">
      [products columns=1 tag="4kursa"]
  </div>
</div>
<div class="row accent-row-1">
 <a href="/product-tag/uroki-sets-sp/"><h3 style="text-align: center;color:blue;">Выпущены комплекты уроков для для продолжающих заниматься </h3></a>
<h4 style="text-align:center;">(уроки 6-20 и 11-20)</h4>
            <div class="visible-md-block visible-lg-block col-md-12">
                [products limit=4 tag="uroki-sets-sp" columns="4"]
            </div>
            <div class="visible-sm-block col-sm-12">
                [products limit=4 columns=2 tag="uroki-sets-sp"]
              </div>
              <div class="visible-xs-block col-xs-12">
                [products limit=2 columns=1 tag="uroki-sets-sp"]
              </div>
</div>

  
<div class="row">
  <div class="col-sm-12 col-md-6 accent-col-3 sec-col">   
    <h3 style="text-align:center;color:red;">Вышла 17 января!</h3> 
    <h2 style="text-align: center; ">Новый учебник из серии "Я учусь читать - 9"</h2>
    <p style="font-size: 110%;">
      В тетради продолжается рассказ о приключеиях Туси и её друзей. Рассказы о себе и индивидуальное обращение нравятся многим детям. Метод «присоединения и причастности» работает очень хорошо, сотни детей полюбили читать, общаясь со своими сверстниками Тусей и Даником.
    </p>
    <h5 style="">Это 12 тетрадь серии.</h5>
    <div class="main-product-cont" style="display: flex;align-items: center;justify-content: center;padding-top: 50px;">
      [products columns="1" ids="58868" class="accent-2-product"]
    </div>
  </div>  
  
    <div class="col-sm-12 col-md-6 accent-col-2 sec-col">
    <h3 style="text-align:center;color:red;">Вышла в свет новая книга</h3>
  
      <h5 style="color: blue;">Экскурсия-квест по Нью Йорку.</h5>
  
      <h5 style="color:#766e3f;text-align: center;"><strong>Около 100 страниц с рисунками, фотографиями и вопросами.</strong></h5>
      <p style="font-size: 130%;">Трое детей 5, 11 и 16 лет ходят по Нью Йорку. Младшие - первый раз в США. Старшая сестра рассказывает историю города, показывает достопримечательности, интересные детям. Во время экскурсий ребята обсуждают увиденное, делятся впечатлениями, сравнивают новое с тем, что они знают.</p>     
    <div class="main-product-cont" style="display: flex;align-items: center;justify-content: center;padding-top: 20px;">
      [products columns="1" ids="63745" class="accent-2-product"]
    </div>
  </div>
  </div>
<div class="row accent-row-1">
<div class="col-xs-12">
  <a href="product-tag/workbooks/"><h4 style="text-align: center;color: blue;">Мы обновили все рабочие тетради для детей от 1 до 6 лет.</h4></a>
   
<div class="hidden-xs">
    [products columns="4" limit="4" tag="workbooks-new"]
</div>
<div class="visible-xs">
    [products columns="1" limit="2" tag="workbooks-new"]
</div>
</div>
</div>
<div class="row accent-row-3">
  <h4 style="text-align: center;padding: 10px 20px;color: blue;">Занимательные тетрадки от Ольги Гром</h4>
  <div class="visible-md-block visible-lg-block col-md-12">
    [products limit=4 tag="grom-front" columns="4"]
  </div>
  <div class="visible-sm-block col-sm-12">
    [products limit=2 columns=2 tag="grom-front"]
  </div>
  <div class="visible-xs-block col-xs-12">
    [products limit=1 columns=1 tag="grom-front"]
  </div>
</div>