<div class="row accent-row-1">
    <div class="col-xs-12">
        <h5 class="bg-darkbl text-loose2 text-center">Серия "Развиваем малышей" состоит из 5 тетрадей.</h5>
        <p>Тетради этой серии предназначены для развития речи, мелкой моторики и познавания мира детьми от 1 до 3 лет. Тетради помогут особенно детям билингвам легче усваивать слова и понятия. Многие задания требуют использование красок, карандашей, клея и ножниц.</p>
        <p>Задания постепенно усложняются, но это не значит, что тетрадь 1 для детей 1 года, а тетрадь 5 - для детей 3 лет. Развитие детей очень индивидуально, но мы попытались помочь вам, чтобы все материалы были под рукой.</p>
        <p>Тетрадь может быть использована педагогами для занятий с детьми или для подготовки уроков.</p>
    </div>
</div>