<div class="row accent-row-1">
    <div class="col-xs-12">
        <h5 class="bg-brown text-loose2 center-block">Тетрадь представляет собой сборник заданий из программы развития детей от {insert} до {insert} лет. Все игры, проекты, опыты, видео и идеи можно посмотреть здесь.</h5> <!--insert here-->
    </div>
    <div class="empty2"></div>
    <div class="col-xs-12">
        <div class="container-arrow">
            <div class="content-arrow">
                <div class="down-arrow arrow-color-brown">
                    <span class="text-down-arrow-lg text-down-arrow vertical-text-arrow">ПРОГРАММА</span>
                </div>
            </div>
        </div>
    </div>
    <div class="empty2"></div>
    <div class="visible-md-block visible-lg-block">
        <div class="col-md-12">
            [products columns="1" ids={insert} class="products-center-arrow-1"]<!--insert here-->
        </div>
    </div>
    <div class="visible-xs-block visible-sm-block">
        <div class="col-xs-12">
            [products columns="1" ids={insert}]<!--insert here-->
        </div>
    </div>
</div>

{insert tetrad template} <!--insert here-->

<div class="row accent-row-1">
    <div class="col-xs-12">
        <p>Мы надеемся, что задания помогут вашему малышу быстрее развить речь, расширить словарный запас, знакомиться с первыми математическими понятиями и учиться решать логические задачи.  Да, да - даже такой маленький ребёнок вместе с нашими тетрадками научится этому.</p>
    </div>
    <div class="col-xs-12">
        <h4 class="bg-darkcyan center-block text-center">В тетрадь входят:</h4>
        <ul style="font-size:120%;">
            <li>25 листов с авторскими заданиями. </li>
            <li>{insert individual feature}</li> <!--here edit-->
            <li>Объяснения для родителей, как рассказывать о заданиях, что ждать от детей в этом возрасте, на что обращать внимание, как заинтересовать малыша.</li>
            <li>Бонусы:
            <ul>
                <li>Набор звёздочек для поощрения.</li>
                <li>Грамота за хорошую работу. (Вариант для мальчиков и для девочек).</li>
            </ul>
            </li>
        </ul>
    </div>
</div>
{insert v_korzinu.html}<!--here edit-->

<div class="row accent-row-2">
    <div class="col-xs-12">
        <p>Использованы оригинальные рисунки Юлии Илютович, Елены Кузнецовой, фотографии ©Oleg Markoff,
            <a href="https://www.whimsyclips.com/cart" target="_blank" rel="noopener noreferrer">Whimsy Clips.</a></p>
            
        <h5 class="bg-darkbl">Все тетради на этот возраст</h5>
        <div class="visible-md-block visible-lg-block">
            <div class="col-md-12">
                [products columns="3" tag={insert}]<!--insert here-->
            </div>
        </div>
        <div class="visible-sm-block">
            <div class="col-sm-12">
                [products columns="2" tag={insert}]<!--insert here-->
            </div>
        </div>
        <div class="visible-xs-block">
            <div class="col-xs-12">
                [products columns="1" tag={insert}]<!--insert here-->
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <h5 class="bg-darkbl">Все тетради из серии "Рабочая тетрадь"</h5>
        <div class="visible-md-block visible-lg-block">
            <div class="col-md-12">
                [products columns="3" tag="sborniki1-6"]
            </div>
        </div>
        <div class="visible-sm-block">
            <div class="col-sm-12">
                [products columns="2" tag="sborniki1-6"]
            </div>
        </div>
        <div class="visible-xs-block">
            <div class="col-xs-12">
                [products columns="1" limit="8" tag="sborniki1-6"]
            </div>
        </div>
    </div>
</div>
{insert end tovar} <!--insert here-->
{insert disclaimer} <!--insert here-->