<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="arrow.css">
    <title>Document</title>
</head>
<body>
    <div class="container-arrow">
        <div class="content-arrow">
            <div class="down-arrow">
                <span class="text-down-arrow-sm text-down-arrow">
                    <span class="vertical-text-arrow">syudy</span>
                </span>
            </div>
        </div>
    </div>
    <!-- strelka s krugami i textom` -->
    <div class="loader-container">
        <div class="loader-content">
            <div class="loader">
                <div class="outer"></div>
                <div class="middle"></div>
                <div class="inner"></div>
                <div class="dot"></div>
            </div>
        </div>
        <div class="strelka-content">
            <div class="down-arrow-changing">
                <span class="down-arrow-text2">Test</span>
            </div>
        </div>
    </div>
    <!-- strelka end -->
    <div class="button-container">
        <a class="a-btn" href="#" type="button"></a>
    </div>
</body>
</html>