<div class="row accent-row-3">
    <h3 class="bg-darkbl text-cut text-loose2 center-block text-center">Видеокурсы со скидкой</h3>
    <div class="col-xs-12">
        <h6 class="bg-brown text-loose1">Да, оптовикам мы даём скидку. Это была шутка. Если вы покупаете курсы для детей, обратите внимание: при покупке более 3 курсов одновременно скидка 15%. Если вы выберите неправильное количество курсов, вы увидите информацию об ошибке. Срок пользования детскими курсами не ограничен.</h6>
    </div>
    <div class="col-xs-12">
        <div class="container-arrow">
          <div class="content-arrow">
            <div class="down-arrow arrow-color-brown">
              <span class="text-down-arrow-sm text-down-arrow vertical-text-arrow">Скидка</span>
            </div>
          </div>
        </div>
    </div>
    <div class="hidden-xs">
        <div class="col-sm-12">
            [products columns="1" ids="118537" class="products-center-arrow-30"]
        </div>
    </div>
    <div class="visible-xs-block">
        <div class="col-xs-12">
            [products columns="1" ids="118537"]
        </div>
    </div>
</div>
<div class="row accent-row-2">
    <h3 class="bg-brown text-cut text-loose2 center-block text-center">Готовые комплекты уроков для детей</h3>
    <div class="col-xs-12">
        <h6 class="bg-darkcyan text-loose1">Здесь собраны часто покупаемые комплекты, уже с учётом скидки. Вам не надо составлять набор уроков, если это вам подходит. Здесь уроки собраны по возрастам - это 3 сета уроков по 20, и сет - все поделки - это 35 уроков.</h6>
    </div>
    <div class="col-xs-12">
        <div class="container-arrow">
          <div class="content-arrow">
            <div class="down-arrow">
              <span class="text-down-arrow-sm text-down-arrow vertical-text-arrow">Комплекты</span>
            </div>
          </div>
        </div>
    </div>
    <div class="col-xs-12">
        <a href="/video-kids-sets/" type="button" class="btn-darkcyan center-block"><span>Перейти на страницу<br><span>Готовые комплекты уроков для детей</span></span></a>
        <div class="empty2"></div>
    </div>
</div>
<div class="row accent-row-4">
    <div class="col-xs-12">
        <h6 class="bg-pink text-loose1">Курсы для родителей и учителей: больше 3 курсов одновременно - 10% скидка. Обратите внимание, что курсы дают доступ 1 год, за каждый дополнительно купленный курс доступ увеличивается на 1 месяц. Если у вас пропал доступ - обратитесь к админу. Вообще, все жалобы - админу. Он всё стерпит и поможет. </h6>
    </div>
    <div class="col-xs-12">
        <a href="mailto:vikaraskinacom@gmail.com" type="button" class="btn-lg btn-neon">Написать админу</a>
    </div>
    <div class="col-xs-12">
        <div class="container-arrow">
          <div class="content-arrow">
            <div class="down-arrow arrow-color-pink">
              <span class="text-down-arrow-sm text-down-arrow vertical-text-arrow">Скидка</span>
            </div>
          </div>
        </div>
    </div>
    <div class="hidden-xs">
        <div class="col-sm-12">
            [products columns="1" ids="118538" class="products-center-arrow-30"]
        </div>
    </div>
    <div class="visible-xs-block">
        <div class="col-xs-12">
            [products columns="1" ids="118538"]
        </div>
    </div>
</div>
<div class="row accent-row-2">
    <h3 class="bg-brown text-cut text-loose2 center-block text-center">Готовые комплекты уроков для родителей и педагогов</h3>
    <div class="col-xs-12">
        <h6 class="bg-darkcyan text-loose1">Здесь собраны часто покупаемые комплекты, уже с учётом скидки. Вам не надо составлять набор уроков, если это вам подходит. Здесь уроки собраны по принципу: базовый пакет для родителей неговорящих детей, базовый пакет для родителей говорящих детей, расширенный пакет для родителей и супер пакет для родителей.</h6>
    </div>
    <div class="col-xs-12">
        <div class="container-arrow">
          <div class="content-arrow">
            <div class="down-arrow">
              <span class="text-down-arrow-sm text-down-arrow vertical-text-arrow">Комплекты</span>
            </div>
          </div>
        </div>
    </div>
    <div class="col-xs-12">
        <a href="/video-parents-sets/" type="button" class="btn-darkcyan center-block"><span>Перейти на страницу<br><span>Готовые комплекты уроков для родителей</span></span></a>
        <div class="empty2"></div>
    </div>
</div>
<div class="row accent-row-1">
    <div class="col-xs-12">
        <h6 class="bg-primary text-loose1">Продление доступа. Вы можете купить продление любого курса на нужный вам срок. После оплаты обратитесь к админу, и он предоставит вам доступ. Это дешевле, чем покупать курс заново. Однако, если у вас нет предыдущей покупки этого курса, в доступе будет отказано и в деньги будут возвращены только в виде сертификата на всю сумму. Сертификат действителен бессрочно в нашем магазине.</h6>
    </div>
    <div class="col-xs-12">
        <div class="container-arrow">
          <div class="content-arrow">
            <div class="down-arrow arrow-color-primary">
              <span class="text-down-arrow-sm text-down-arrow vertical-text-arrow">Продление</span>
            </div>
          </div>
        </div>
    </div>
    <div class="hidden-xs">
        <div class="col-sm-12">
            [products columns="1" ids="103805" class="products-center-arrow-30"]
        </div>
    </div>
    <div class="visible-xs-block">
        <div class="col-xs-12">
            [products columns="1" ids="103805"]
        </div>
    </div>
</div>