<section class="ac-container-pink">
    <div>
      <input id="ac-1" name="accordion-1" type="radio" checked="">
      <label for="ac-1">Класс</label>
      <article class="ac-large">
        <p>Я работаю в маленьких группах и это позволяет мне индивидуально заниматься с каждым ребёнком. Даже в одном классе дети могут получать разные задания и требования к каждому ребенку свои.
            Занимается увеличением словарного запаса
            Каждый урок основная масса игрушек меняется.
            Весь материал подается в игровой форме.
            Во время урока используется до 15 игрушек различной направленности и сложности.
            Продолжительности класса 60 минут. Если дети устали, мы можем закончить занятие раньше
            Большое внимание я уделяю развитию мелкой моторике.
            Группы могут быть по два, три или четыре ребенка.</p>
      </article>
    </div>
    <div>
      <input id="ac-2" name="accordion-1" type="radio">
      <label for="ac-2">Структура занятий</label>
      <article class="ac-large">
        <p>В этом возрасте огромное внимание я уделяю развитию речи. Игры и задания подобраны так, чтобы малыш как можно быстрее заговорил. Моя авторская программа дает отличные результаты. Знания об окружающей среде, нужные понятия и умения даются в соответствии с возрастом.
            Развитие дыхания
            Мелкая моторика
            Простейшие пальчиковые игры
            Поем песенки
            Учим названия окружающих предметов
            Рисуем толстыми и тонкими кисточами
            Работаем со многими природными материалами
            Смотрим театральное предствление сказок
            Играем с разными развивающими игрушками в соответствии с возрастом
            Занимаемся сенсорным развитием
            Как проходит урок вы можете посмотреть на моём канале Youtube </p>
      </article>
    </div>
    <div>
      <input id="ac-3" name="accordion-1" type="radio">
      <label for="ac-3">Программа</label>
      <article class="ac-large">
        <p>Я работаю в маленьких группах, и это позволяет мне индивидуально заниматься с каждым ребёнком. Даже в одной группе дети могут получать разные задания и требования к каждому ребенку свои.
            Основная задача – привить любовь к учёбе , и я все делаю для этого. На уроках спокойная доброжелательная обстановка, я никогда не ругаю за не сделанное. В таких случаях используются фразы: “Ты молодец!”, “Ты можешь лучше!”, ” Завтра мы сделаем лучше!”
            Я учу детей говорить волшебные слова – спасибо, пожалуйста, и сама так обращаюсь к детям. Я считаю, к вежливости надо приучать с раннего детства.
            Дети на моих уроках чувствуют себя свободно. Малыш может встать во время уроков, взять приглянувшуюся игрушку и с ней вернуться за стол. Если проходит несколько минут и ребенок не возвращается – значит задание, которое я даю не интересно. Я меняю задание. Я считаю, дети должны хотеть заниматься и делать это добровольно.
            Все мои программы авторские. Но я часто использую идеи и наработки известных психологов и педагогов: Никитиных, Кооса, Дьенеш, Монтессори, Домана, Шичида.
            Я собираю игротеку много лет. В ней представлено огромное количество игр из России, США, Японии, Израиля, Германии, Чехии, Италии. Уверена, что моя коллекция понравится вашим детям. </p>
      </article>
    </div>
    <div>
      <input id="ac-4" name="accordion-1" type="radio">
      <label for="ac-4">Вопросы и ответы</label>
      <article class="ac-large">
        <p>Сколько нужно детей, чтобы Вы открыли новую группу?
            С маленькими детьми я открываю группу, когда есть 2 малыша.
            В каком возрасте вы начинаете заниматься с детьми?
            Как правило, с 1,5 лет. Но я смотрю на готовность ребенка, на его заинтересованность и умения. Поэтому возраст начала занятий может быть, как раньше, так и позже.
            Могут ли мамы присутствовать на занятиях?
            Да, первое время мамы малышей присутствуют на занятиях. Я хочу, чтобы дети привыкли и чувствовали себя спокойно. Иногда привыкание занимает несколько занятий, а некоторые дети чувствуют себя комфортно только через несколько месяцев. В дальнейшем взрослые на уроках не присутствуют.
            Можно ли заниматься 2 раза в неделю?
            Да, конечно. Нo при условии, что в группе нужного вам возраста есть свободные места.</p>
      </article>
    </div>
    <div>
        <input id="ac-5" name="accordion-1" type="radio">
        <label for="ac-5">Как записаться</label>
        <article class="ac-small">
          <p>Я работаю в Fair Lawn, New Jersey, USA. Если вы хотите посещать мои классы, можете связаться со мной по <a href="mailto:vikarasl@gmail.com" target="_blank">email (нажать здесь)</a> или по телефону <a href="tel:917-733-5113" target="_blank">917-733-5113</a>. Стоимость занятия $50 в час. </p>
        </article>
      </div>
  </section>