<div class="row">
    <div class="col-md-6">
        <div class="panel panel-darkcyan">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span>
              </h3>
            </div>
            <div class="panel-body">
                Занятия способствовали увеличению словарного запаса, развитию мелкой моторики, усидчивости. Порадовало разнообразие игровых и дидактических материалов, используемых на занятиях, частая смена деятельности.
            </div>
            <div class="panel-footer  panel-footer-darkcyan">Наташа Мельникова</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-darkcyan">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span>
              </h3>
            </div>
            <div class="panel-body">
                Я хожу к Вике со вторым ребенком.Мои дети разные и поэтому я видела разные результата. Максюша был непоседлив, капризен, плохо держал ручку, карандаш да и были прроблемы с мелкой моторикой. Все это у Вики на занятиях откорректировалось. У младшенго я вижу увеличение словарного, запасаот занятия к занятию .Ребенок стал более наблудательным и заинтересованным ко всем занятиям. Вика научила моих детей любить учиться.
            </div>
            <div class="panel-footer panel-footer-darkcyan">Марина Улис</div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-brown">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span>
              </h3>
            </div>
            <div class="panel-body">
                Занятия способствовали увеличению словарного запаса, развитию мелкой моторики, усидчивости. Порадовало разнообразие игровых и дидактических материалов, используемых на занятиях, частая смена деятельности.
            </div>
            <div class="panel-footer  panel-footer-brown">Наташа Мельникова</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-brown">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span>
              </h3>
            </div>
            <div class="panel-body">
                Я хожу к Вике со вторым ребенком.Мои дети разные и поэтому я видела разные результата. Максюша был непоседлив, капризен, плохо держал ручку, карандаш да и были прроблемы с мелкой моторикой. Все это у Вики на занятиях откорректировалось. У младшенго я вижу увеличение словарного, запасаот занятия к занятию .Ребенок стал более наблудательным и заинтересованным ко всем занятиям. Вика научила моих детей любить учиться.
            </div>
            <div class="panel-footer panel-footer-brown">Марина Улис</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-darkbl">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span>
              </h3>
            </div>
            <div class="panel-body">
                Занятия способствовали увеличению словарного запаса, развитию мелкой моторики, усидчивости. Порадовало разнообразие игровых и дидактических материалов, используемых на занятиях, частая смена деятельности.
            </div>
            <div class="panel-footer  panel-footer-darkbl">Наташа Мельникова</div>
        </div>
    </div>
    <div class="col-md-6">
    <div class="panel panel-darkbl">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span>
          </h3>
        </div>
        <div class="panel-body">
            Я хожу к Вике со вторым ребенком.Мои дети разные и поэтому я видела разные результата. Максюша был непоседлив, капризен, плохо держал ручку, карандаш да и были прроблемы с мелкой моторикой. Все это у Вики на занятиях откорректировалось. У младшенго я вижу увеличение словарного, запасаот занятия к занятию .Ребенок стал более наблудательным и заинтересованным ко всем занятиям. Вика научила моих детей любить учиться.
        </div>
        <div class="panel-footer panel-footer-darkbl">Марина Улис</div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span>
            </div>
            <div class="panel-body">
                Занятия способствовали увеличению словарного запаса, развитию мелкой моторики, усидчивости. Порадовало разнообразие игровых и дидактических материалов, используемых на занятиях, частая смена деятельности.
            </div>
            <div class="panel-footer  panel-footer-primary">Наташа Мельникова</div>
        </div>
    </div>
    <div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span>
          </h3>
        </div>
        <div class="panel-body">
            Я хожу к Вике со вторым ребенком.Мои дети разные и поэтому я видела разные результата. Максюша был непоседлив, капризен, плохо держал ручку, карандаш да и были прроблемы с мелкой моторикой. Все это у Вики на занятиях откорректировалось. У младшенго я вижу увеличение словарного, запасаот занятия к занятию .Ребенок стал более наблудательным и заинтересованным ко всем занятиям. Вика научила моих детей любить учиться.
        </div>
        <div class="panel-footer panel-footer-primary">Марина Улис</div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-pink">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span>
              </h3>
            </div>
            <div class="panel-body">
                Занятия способствовали увеличению словарного запаса, развитию мелкой моторики, усидчивости. Порадовало разнообразие игровых и дидактических материалов, используемых на занятиях, частая смена деятельности.
            </div>
            <div class="panel-footer  panel-footer-pink">Наташа Мельникова</div>
        </div>
    </div>
    <div class="col-md-6">
    <div class="panel panel-pink">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span><span class="glyphicon glyphicon-star glyphicon-star-gold"></span>
          </h3>
        </div>
        <div class="panel-body">
            Я хожу к Вике со вторым ребенком.Мои дети разные и поэтому я видела разные результата. Максюша был непоседлив, капризен, плохо держал ручку, карандаш да и были прроблемы с мелкой моторикой. Все это у Вики на занятиях откорректировалось. У младшенго я вижу увеличение словарного, запасаот занятия к занятию .Ребенок стал более наблудательным и заинтересованным ко всем занятиям. Вика научила моих детей любить учиться.
        </div>
        <div class="panel-footer panel-footer-pink">Марина Улис</div>
    </div>
</div>