<div style="background-color: darkslateblue;">
  <img src="https://mcusercontent.com/f1e654632bb93dab85213dd9d/images/b70d6546-006a-478b-a0c6-7bbf4c8b4aee.png" alt="vika-foto" style="display: block;margin: 0 auto;;width: 200px;height: 200px;"/>
</div>
<div style="background-color: lightgoldenrodyellow;">
  <h2 style="text-align: center;margin: 0;padding-top: 20px;">Ваша годовая подписка на Программу развития <br>от года до двух лет завершается на следующей неделе.</h2>
  <table style="width: 100%;text-align: center;">
    <colgroup>
      <col span="1"style="width:50%;margin-bottom:20px">
      <col span="1"style="width:50%;margin-bottom:20px">
    </colgroup>
    <thead>
      <h4 style="text-align: center;">Спасибо, что вы были с нами этот год. Если вы желаете продолжить, вот линк на следующий возраст.</h4>
    </thead>
    <tr>
      <td><a href="https://vikaraskina.com/product/weekly_6-2" target="_blank"><h3>Программа развития от 2 до 3 лет</h3></a></td>
      <td><img src="https://mcusercontent.com/f1e654632bb93dab85213dd9d/images/17173239-24fa-4a64-82d2-9dcb68513d3f.png" alt="podpiska-2-3" style="width: 200px;"></td>
    </tr>
    <tr style="height: 10;"><td colspan="2"></td></tr>
    <tr style="height: 2px;margin-top: 10px;margin-bottom: 10px;"><td colspan="2" style="background-color: darkslateblue;"></td></tr>
    <tr>
      <td>Вы можете загрузить бесплатные рабочие тетради.<br>
        Линк и пароль для бесплатной загрузки.<br>
        Пароль работает только до конца месяца.<br>
        Если вы не успели загрузить и вам нужен<br> пароль нового месяца - обращайтесь к админу</td>
      <td><a href="https://vikaraskina.com/product/workbook_1-2_bonus/" target="_blank"><h4>Линк</h4></a>
      <h4><span style="color: lightslategrey;">Пароль: </span><span style="color: red;">$kor0vshkolu!</span></h4></td>
    </tr>
    <tr style="height: 10;"><td colspan="2"></td></tr>
    <tr style="height: 5px;margin-top: 10px;margin-bottom: 10px;"><td colspan="2" style="background-color: darkslateblue;"></td></tr>
    <tr style="height: 20;"><td colspan="2"></td></tr>
    <tr>
      <td colspan="2"><h3>У нас новинка! </h3></td>
    </tr>
    <tr>
      <td colspan="2">Программа для групповых и индивидуальных занятий <br> "Малышок"</td>
    </tr>
    <tr style="height: 20;"><td colspan="2"></td></tr>
    <tr>
      <tr>
        <td>Всего в Программе 3 цикла: <br>осень, зима, весна.<br>Программа рассчитана на 9 месяцев занятий для детей 2-4 лет</td>
        <td><a href="https://vikaraskina.com/play-teach/" target="_blank"><img src="https://mcusercontent.com/f1e654632bb93dab85213dd9d/images/e432ca70-20d6-fdad-57e9-5dbdaa49c6c3.png" alt="mal" style="width: 200px;"/></a></td>
      </tr>
      <tr style="height: 10;"><td colspan="2"></td></tr>
      <tr>
        <td>Вы можете бесплатно загрузить 1 урок с материалами.<br>(кликните на картинку)</td>
        <td><a href="https://vikaraskina.com/product/play-teach-free-sample/" target="_blank"><img src="https://mcusercontent.com/f1e654632bb93dab85213dd9d/images/d522401c-0712-b1fb-d2d3-cd3ec97c1a0d.jpg" alt="uroki"/></a></td>
      </tr>
      <tr style="height: 10;"><td colspan="2"></td></tr>
      <tr style="height: 2px;margin-top: 10px;margin-bottom: 10px;"><td colspan="2" style="background-color: darkslateblue;"></td></tr>
    <tr>
    <tr>
      <td colspan="2">Видео классы для детей от года до 3.<br> Ребёнок занимается сам и смотрит урок как мультфильм!</td>
    </tr>
    <tr style="height: 20;"><td colspan="2"></td></tr>
    <tr>
      <td>Посмотрите отрывок из урока.<br>(кликните на картинку)</td>
      <td><a href="https://vimeo.com/412871850/baf9aeb6b5" target="_blank"><img src="https://mcusercontent.com/f1e654632bb93dab85213dd9d/images/af31c9d5-e22e-4caa-b400-fe6543d491f6.png" alt="uroki"/></a></td>
    </tr>
    <tr style="height: 10;"><td colspan="2"></td></tr>
    <tr style="height: 2px;margin-top: 10px;margin-bottom: 10px;"><td colspan="2" style="background-color: darkslateblue;"></td></tr>
    <tr>
      <td>Уроки разбиты на циклы по 5 занятий <br>Подробности в магазине.<br>(кликните на картинку)</td>
      <td><a href="https://vikaraskina.com/product-category/uroki/uroki1/" target="_blank"><img src="https://mcusercontent.com/f1e654632bb93dab85213dd9d/images/d9c6a36f-51a8-4634-8fde-f1c05adb9b6b.png" style="width: 200px;" alt="uroki"/></a></td>
      
    </tr>
    <tr style="height: 10;"><td colspan="2"></td></tr>
    <tr style="height: 2px;margin-top: 10px;margin-bottom: 10px;"><td colspan="2" style="background-color: darkslateblue;"></td></tr>
    <tr>
      <tr>
        <td>Для продолжающих заниматься. Видеоклассы с 6 по 20 и с 11 по 20.</td>
        <td><a href="https://vikaraskina.com/product-tag/uroki-sets-sp/" target="_blank"><img src="https://mcusercontent.com/f1e654632bb93dab85213dd9d/images/ee5e9dea-6586-4a09-9991-4041982ed58c.png" style="width: 200px;" alt="uroki"/></a></td>
      </tr>
    <tr style="height: 10;"><td colspan="2"></td></tr>
    <tr style="height: 2px;margin-top: 10px;margin-bottom: 10px;"><td colspan="2" style="background-color: darkslateblue;"></td></tr>
    <tr>
      <tr>
        <td>Новые пакеты из программ, видеоклассов и пособий со скидкой.<br>
          Вы сами выбираете, что вам нужно.</td>
        <td><a href="https://vikaraskina.com/calc-bundle/" target="_blank"><img src="https://mcusercontent.com/f1e654632bb93dab85213dd9d/images/1318c3dc-db0e-4064-a35e-2f033373d134.png" style="width: 200px;" alt="uroki"/></a></td>
      </tr>
    <tr style="height: 10;"><td colspan="2"></td></tr>
    <tr style="height: 5px;margin-top: 10px;margin-bottom: 10px;"><td colspan="2" style="background-color: darkslateblue;"></td></tr>
    <tr style="height: 20;"><td colspan="2"></td></tr>
    <tr>
      <td colspan="2"><h3 style="color: red;">Купоны, купоны!!!</h3></td>

    </tr>
    <tr><td colspan="2"><b>Вы получаете код купона,<br> который можно использовать в магазине.</b> </td></tr>
    <tr style="height: 20;"><td colspan="2"></td></tr>
    <tr>
      <td><a href="https://vikaraskina.com/?coupon-code=87SUJEVY" target="_blank"><h5 style="color: blue;">87SUJEVY</h5></a></h5></td>
      <td><h5>Купон на 10$ при минимальной покупке 50$. <br><b>На оформление подписки <br>купон не распространяется.</b> </h5></td>

    </tr>
    <tr>
      <td><a href="https://vikaraskina.com/?coupon-code=prodlenie&sc-page=shop" target="_blank"><h5 style="color: blue;">prodlenie</h5></a></td>
      <td><h5>Купон на отмену регистрационного сбора за подписку на $5</h5></td>
    </tr>
    <tr>
      <td><a href="https://vikaraskina.com/?coupon-code=PM8SGFYN" target="_blank"><h5 style="color: blue;">PM8SGFYN</h5></a></td>
      <td><h5>Купон на оформление годовой подписки на 10%</h5></td>
    </tr>
    <tr style="height: 20;"><td colspan="2"></td></tr>
    <tr>
      <td colspan="2"><h3>Купоны для ваших друзей, которые ещё не зарегистрированы у нас на сайте (новый аккаунт).</h3></td>

    </tr>
    <tr style="height: 10px;"><td></td></tr>
    <tr>
      <td><a href="https://vikaraskina.com/?coupon-code=5BH5VK86" target="_blank"><h5 style="color: blue;">5BH5VK86</h5></a></td>
      <td><h5>$5 от минимальной покупки $30 (кроме подписки)</h5></td>
    </tr>
    <tr style="height: 10px;"><td></td></tr>
    <tr>
      <td><a href="https://vikaraskina.com/?coupon-code=8HMKWDNE" target="_blank"><h5 style="color: blue;">8HMKWDNE</h5></a></td>
      <td><h5>$10 от минимальной покупки $80 (кроме подписки) </h5></td>
    </tr>
    <tr style="height: 10px;"><td></td></tr>
    <tr>
      <td><a href="https://vikaraskina.com/?coupon-code=HUSR9PD6" target="_blank"><h5 style="color: blue;">HUSR9PD6</h5></a></td>
      <td><h5>Подписка:<br>
        скидка 5%  (первая оплата) </h5></td>
    </tr>
    <tr style="height: 5px;margin-top: 10px;margin-bottom: 10px;"><td colspan="2" style="background-color: darkslateblue;"></td></tr>
    <tr style="height: 20;"><td colspan="2"></td></tr>
    <tr style="color: red;">
      <td colspan="2"><h2>Новинки, новинки, новинки!!!</h2></td>
    </tr>
    <tr style="height: 40px;"><td></td></tr>
    <tr>
      <td><a href="https://vikaraskina.com/product/zapusk_rechi3/" target="_blank"><img src="https://gallery.mailchimp.com/f1e654632bb93dab85213dd9d/images/15c27916-2da6-43f0-9cef-b8fa242fa1b2.png" style="width: 200px;" alt="uroki"/></a></td>
      <td>Курс-тренинг для родителей «Как разговорить малыша». <br>(кликните на картинку)</td>
    </tr>
    <tr style="height: 10;"><td colspan="2"></td></tr>
    <tr>
      <td><a href="https://vikaraskina.com/product/experiments_for_kids/" target="_blank"><img src="https://gallery.mailchimp.com/f1e654632bb93dab85213dd9d/images/c76b019b-5c5d-45eb-8ed1-125368664cc5.png" style="width: 200px;" alt="uroki"/></a></td>
      <td>Опыты для любознательных. <br>42 опыта с объяснениями почему присходит именно так. <br>(кликните на картинку)</td>
    </tr>
    <tr style="height: 10;"><td colspan="2"></td></tr>
    <tr>
      <td><a href="https://vikaraskina.com/product/bukva_y/" target="_blank"><img src="https://gallery.mailchimp.com/f1e654632bb93dab85213dd9d/images/c6456d25-77c0-42c0-b55a-dbbdb68b0f67.png" style="width: 200px;" alt="uroki"/></a></td>
      <td>Звук Ы. <br>Идеи и игры для постановки и автоматизации звука Ы. <br>(кликните на картинку)</td>
    </tr>
    <tr style="height: 10;"><td colspan="2"></td></tr>
    <tr>
      <td><a href="https://vikaraskina.com/product/loto_posobie/" target="_blank"><img src="https://mcusercontent.com/f1e654632bb93dab85213dd9d/images/4fa5a665-d949-451f-8111-9653d9675a37.png" style="width: 200px;" alt="uroki"/></a></td>
      <td>Лото для детей от года до 99 лет<br>(кликните на картинку)</td>
    </tr>
    <tr style="height: 10;"><td colspan="2"></td></tr>
    <tr>
      <td><a href="https://vikaraskina.com/product/advent_calendar/" target="_blank"><img src="https://mcusercontent.com/f1e654632bb93dab85213dd9d/images/cc90b520-c7a3-4855-bc39-6d698682748e.png" style="width: 200px;" alt="uroki"/></a></td>
      <td>Адвент-календарь. <br>(кликните на картинку)</td>
    </tr>
    <tr style="height: 20;"><td colspan="2"></td></tr>
    <tr style="height: 2px;margin-top: 10px;margin-bottom: 10px;"><td colspan="2" style="background-color: darkslateblue;"></td></tr>
    <tr style="height: 50px;"><td></td></tr>

<tr>
  <td colspan="2"><h4>Спасибо, что вы пользовались моей программой.<br> Надеюсь, что задания были интересны и полезны.<br>Ваши дети замечательные. <br>Пусть они растут и вас радуют.</h4></td>

</tr>

  </table>
  <h1 style="text-align: center;color: mediumblue;">Вика</h1>
  <div style="background-color: darkslateblue; height: 200px;">
  <img src="https://mcusercontent.com/f1e654632bb93dab85213dd9d/images/fd0ac11f-c401-44c6-95ff-219f3c972c28.png" alt="shkola" style="display: block;margin: 0 auto;height: 150px;padding-top: 25px;">
</div>
</div>