<div class="row accent-row-1">
    <div class="col-xs-12">
        <h4 class="bg-brown text-loose2 text-center text-cut center-box">Каждую неделю мы предлагаем новые товары на распродаже</h4>
    </div>
    <div class="col-xs-12">
        <p style="letter-spacing:4px; font-size:120%;">Flash sale длится одну неделю, и в понедельник здесь будут уже другие товары. Мы случайно выбираем разные пособия, которые вы можете купить со скидкой. Три раза в неделю к вам приходит имейл в названии которого есть слова "Смотрите скидки этой недели", поэтому вы всегда в курсе, что у нас на распродаже.</p>
    </div>
</div>