<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="flash-sale-container">
        <div class="container-rotating-boxes">
            <div class="content-rotating-boxes">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="container-neon-btn-flex">
            <div class="neon-flash-spans">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Flash Sale
            </div>
        </div>
    </div>
</body>
</html>